@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 2rem;
}

p {
  margin-top: 5px;
}

.todays-weather-left h2 {
  font-size: 4rem;
}

.container {
  background: #478c8c;
  height: 100vh;
  padding-top: 150px;
}

.light {
  background: #fff;
  color: #312c2c;
}

.dark {
  background: #312c2c;
  color: #fff;
}

.inner-container {
  width: 750px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding: 20px;
  border-radius: 5px;
  grid-gap: 20px;
  margin: auto;
}

.mode-switch {
  text-align: right;
}

.weather-details {
  padding-top: 10px;
  text-align: right;
}

.daily-weather {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 1 / span 2;
  text-align: center;
  grid-gap: 10px;
}

.day-weather {
  border: 0.5px dotted #706e6e;
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.day-weather p {
  font-size: 0.8rem;
}

.day-weather img {
  margin: 10px 0;
}

@media only screen and (max-width: 768px) and (min-width: 601px) {
  .inner-container {
    width: 550px;
    grid-template-columns: 1.5fr 1fr;
  }

  .daily-weather {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .inner-container {
    width: 365px;
    grid-template-columns: 1.2fr 1fr;
    grid-gap: 10px;
  }

  .daily-weather {
    grid-template-columns: repeat(3, 1fr);
  }

  .todays-weather-left h2 {
    font-size: 3rem;
  }

  p {
    font-size: 0.8rem;
  }

  img {
    width: 50px;
    height: 50px;
  }
}

/* Dark/Light Mode Toggle Switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #525050;
}

input:focus + .slider {
  box-shadow: 0 0 1px #525050;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
